<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/kissi.css">
</head>
     <body style="background-image:url(/static/gif/rahul.jpeg)">
        <form action="/submit" method="post">
            <label class="kissilbl" for="messege">YHA PAR DO&#x1F970;</label>
            <input class="kissi" type="text" name="message">
            <button class="kissisub" type="submit" value="submit"> MERI BARI KISSI KI</button>

        </form>
        

        </body>
    
</html>