<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/gundimain.css">
        <body>
            <img src="/static/gif/cry.gif" class="gif" 
>
          <h1 class="question">Moti,U Love Me Na?&#x1F496;</h1>
           <button class="yes"   onclick="window.location.href='/main2'">Ha,aage bolo</button>
           <button class="no" onclick="window.location.href='/no'" >nahi babu</button>

        </body>
    </head>
</html>