<!DOCTYPE html>
<html>
    <head>
        
            <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/gundimain.css">
    <body>
        <h1 class="question2">TO BAAT KARO NA ITNA BHAW <br> KYU KHA RHI HO</h1>
        <img class="gifyes"  src="/static/gif/playful.gif" alt="ruko load ho rha hai">
        <h1 class="kissi">Achha Jaate Jaate EK Jor Ki  &#128139;KISSI&#128139; De Do &#x1F970;&#x1F970;</h1>
         <button class="kissibtn" onclick="window.location.href='/kissi'">KISSI DENE KE LIYE YHA CLICK KARE</button>

        </body>
    </head>
</html>