<!DOCTYPE html>
<html>
    <head>
        <body>
            <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/gundimain.css">
    <h1 class="nodeadend">No ka option diya iska mtlb kya choose kar logi</h1>
    <img class="gifno"  src="/static/gif/mad.gif">
    <h1 class="nodeadend2"> Chalo Wapas Jao<br> Wo Dekho <br>Left Me Button Hai</h1>
    <button class="button2" onclick="window.location.href='/main'"> HA AB JALDI SE MUJHE CLICK KARO</button>
        </body>
    </head>
</html>