<!DOCTYPE html>
<html lang="en">
  <head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> moti </title>
<link rel="stylesheet" href="/static/css/gundi.css">
<style>
 
</style>
                
 </head> 

    <body style="background-image:url(/static/gif/moti.jpeg)";>
        
            
            <button class="lovebtn" onclick="window.location.href='/main'">Remember,This is u <br> Btw moti click on it.<br>I have made something for u<h1>&#128513;</h1></button>
            
 
    </body>

  
 </html>
