<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>moti</title>

<link rel="stylesheet" href="/static/css/gundi.css">
</head>

<body style="background-image: url('/static/gif/moti.jpeg');">

    <div class="container">

        <button class="lovebtn" onclick="window.location.href='/main'">
            Remember, this is u <br>
            Btw moti click on it <br>
            I have made something for u <br>
            <h1>😊</h1>
        </button>

    </div>

</body>
</html>
